body {
	background-color: pitch-range;
}

h1 {
	color: navy;
	margin-left: 20px;
}

p {
	color: black;
	margin-left: 40px;
	text-align : justify;
}

.box{
	
	width :800px;
}

h3{
	margin-left : 10px;
}